.menuContainerNav{
    top: 59px;
    left: 772px;
    width: 378px;
    height: 17px;
    opacity: 1;
}

.styledLinkContent {
    top: 59px;
    left: 772px;
    width: 57px;
    height: 17px;
    text-align: left;
    font: normal normal normal 12px/12px Poppins Light;
    letter-spacing: 2.4px;
    color: #17100D;
    text-transform: uppercase;
    opacity: 1;
}